/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// --- imports ---
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";

// --- web fonts ---
@import url(http://fonts.googleapis.com/css?family=Poly:400,400italic);

// --- local fonts ---
@font-face {
    font-family: "barkentina_1regular";
    src: url('../font/barkentina/barkentina.eot');
    src: url('../font/barkentina/barkentina.eot?#iefix') format('embedded-opentype'),
         url('../font/barkentina/barkentina.woff') format('woff'),
         url('../font/barkentina/barkentina.ttf') format('truetype'),
         url('../font/barkentina/barkentina.svg#barkentina_1regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadPro-Regular";
    src: url('../font/myriadpro/MYRIADPRO-REGULAR.eot');
    src: url('../font/myriadpro/MYRIADPRO-REGULAR.woff') format('woff'),
    url('../font/myriadpro/MYRIADPRO-REGULAR.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyriadPro-BoldCond";
    src: url('../font/myriadpro/MYRIADPRO-BOLDCOND.eot');
    src: url('../font/myriadpro/MYRIADPRO-BOLDCOND.woff') format('woff'),
    url('../font/myriadpro/MYRIADPRO-BOLDCOND.svg#MyriadPro-BoldCond') format('svg');
    font-weight: normal;
    font-style: normal;
}

// --- Image Sprites ---
$icon-sprite-dimensions: true;
$icon-layout:smart;

@import "icon/*.png"; 
@include all-icon-sprites;

// --- variables ---
$min_width: 768px;
$min_height: 640px;

$cursor_path: "/assets/cursor/";
$images_path: "/assets/images/";

$font_sans: "MyriadPro-Regular", sans-serif;
$font_sans_boldcond: "MyriadPro-BoldCond", sans-serif;
$font_poly: "Poly", serif;
$font_barkentina: "barkentina_1regular", serif;

$color_purple: #535362;
$color_lightpurple: #747484;
$color_greenishgray: #CECEBF;


// ---
html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.touch{
    *{
      outline: none;
      outline-style: none;
      -webkit-touch-callout: none;              /* disable callout, image save panel */
      -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
      @include user-select('none');
    }
  }
}

body{
  min-width: $min-width;
  min-height: $min-height;
  font-family: $font_sans;
  -webkit-font-smoothing: antialiased;
  //font-size: 62.5%; //1em = 10px;
}

h1, h2{
  font-family: $font_barkentina;
}

h3, h4, h5, h6{
  font-family: $font_sans;
}

p{
  font-family: $font_poly;
}

a{
  text-decoration: none;

  &:visited {
    color: $color_lightpurple;
  }
}

textarea{
  resize: none;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background: #fff;
}
 
::-webkit-scrollbar-thumb {
    @include background(linear-gradient(left, #595968 50%, #4F4F5D 50%));
}

.button{
  @include user-select('none');
  cursor: pointer;
  text-align: center;
}

.centerColumn{
  margin: 0 auto;
  max-width: 1280px;
}